.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: 16px;
}

.control-panel div {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.checkbox-container {
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    background-color: #ebebeb;
}

.checkbox-container input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
    margin: 0.25em;
}

.checkbox-container .checkbox-side-text {
    margin-left: 0.5em; 
}

#quiz-mode-container div {
    width: fit-content;
    block-size: fit-content;
}

/* Style for the text input */
.rounded-input {
    padding: 15px;
    border: 2px solid #3498db;
    border-radius: 1em;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2887e3;
  font-family: Arial, sans-serif;
}
.black-keys-container {
    position: relative;
}
.piano-outer-div {
  display: flex;
  justify-content: center;
}
.piano-container {
  display: flex;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  left: 50%;
  top: 50%;
  padding: 4em 1em 1em 1em;
  border-radius: 0.62em;
  background-color: #24272e;
  box-shadow: 0 2em 4em rgba(7, 0, 53, 0.25);
  width: fit-content;
  height: fit-content;
}
.white-key {
  width: 4.37em;
  height: 17.5em;
  background-color: #ffffff;
  border-radius: 0 0 0.3em 0.3em;
  border: 2px solid #24272e;
  box-sizing: border-box;
  cursor: pointer;
}
.white-key:hover {
  background-color: #ebebeb;
}
.black-key {
  width: 2.5em;
  height: 10em;
  border-radius: 0 0 0.3em 0.3em;
  box-sizing: border-box;
  position: absolute;
  background-color: #070a0f;
  cursor: pointer;
}
.black-key:hover {
  background-color: #24272e;
}
.black-key:nth-child(1) {
  left: 3em;
}
.black-key:nth-child(2) {
  left: 7.37em;
}
.black-key:nth-child(3) {
  left: 16.12em;
}
.black-key:nth-child(4) {
  left: 20.5em;
}
.black-key:nth-child(5) {
  left: 24.87em;
}
.black-key:nth-child(6) {
  left: 33.62em;
}
.black-key:nth-child(7) {
  left: 38em;
}
.black-key:nth-child(8) {
  left: 46.75em;
}
.black-key:nth-child(9) {
  left: 51.12em;
}
.black-key:nth-child(10) {
  left: 55.5em;
}

@media screen and (max-width: 1000px) {
  .piano-container {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  .piano-container {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 500px) {
  .piano-container {
    font-size: 0.3em;
  }
}

#orientation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 1000;
    display: none;
}

#orientation-overlay .overlay-text-container {
    padding: 1em;
}


@media (orientation: landscape) {

}

@media (orientation: portrait) {

}